<ion-content>
  <div class="section section-top">
    <div class="overlay">
      <div class="content">
        <h1 class="heading">ASASA.COM GIVES YOU<br />BEST ARCHITECTS</h1>
        <h4>DREAM YOUR HOME NOW!</h4>
        <ion-button color="primary" expand="full">READ MORE</ion-button>
      </div>
    </div>
  </div>

  <div class="section section-booking">
    <div class="content">
      <h1>DREAM YOUR HOME NOW</h1>
      <p>
        Asasa.com gives you a platform to visit portfolios of the top notch
        architects from all over Pakistan and select the one suits you best to
        design you Dream Home. We've the most experienced architects with us on
        board, See their past works here below and let us know how can we
        facilitate you to design your home so you can enjoy the best living
        experience.
      </p>
      <ion-grid>
        <ion-row>
          <ion-col size="8" offset="2" size-md="4" offset-md="2">
            <ion-button color="primary" expand="full"
              >BOOK YOUR PLOT</ion-button
            >
          </ion-col>
          <ion-col size="8" offset="2" size-md="4" offset-md="0">
            <ion-button color="tertiary" expand="full"
              >SELECT YOUR ARCHITECT</ion-button
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" size-md="8">
            <ion-img src="assets/imgs/1.png"></ion-img>
          </ion-col>
          <ion-row>
            <ion-col size="6" size-md="4">
              <ion-img src="assets/imgs/2.png"></ion-img>
            </ion-col>
            <ion-col size="6" size-md="4">
              <ion-img src="assets/imgs/3.png"></ion-img>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="section section-background ion-text-left">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-margin-bottom" size="12" size-md="5">
          <ion-img src="assets/imgs/4.png"></ion-img>
        </ion-col>
        <ion-col size="12" size-md="6" offset-md="1">
          <h1 style="margin-top: 0">Join Our Team</h1>
          <p>
            Asasa.com gives you a platform to visit portfolios of the top notch
            architects from all over Pakistan and select the one suits you best
            to design you Dream Home. We've the most experienced architects with
            us on board, See their past works here below and let us know how can
            we facilitate you to design your home so you can enjoy the best
            living experience.
          </p>
          <p>
            Asasa.com gives you a platform to visit portfolios of the top notch
            architects from all over Pakistan and select the one suits you best
            to design you Dream Home. We've the most experienced architects with
            us on board, See their past works here below and let us know how can
            we facilitate you to design your home so you can enjoy the best
            living experience.
          </p>
          <ion-button color="tertiary" expand="full" style="margin-top: 2rem"
            >WHAT WE DO ></ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="section section-staff">
    <div class="overlay">
      <div class="content">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <div class="card">
                <h1>OUR PROFESSIONALS</h1>
                <h3>BE THE DIFFERENCE</h3>
                <p>
                  Asasa.com gives you a platform to visit portfolios of the top
                  notch architects from all over Pakistan and select the one
                  suits you best to design you Dream Home.
                </p>
                <ion-row>
                  <ion-col>
                    <ion-button color="primary" expand="full"
                      >VIEW ALL PROJECTS></ion-button
                    >
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button color="tertiary" expand="full"
                      >I WANT TO GET INVLOVED></ion-button
                    >
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-center">
            <ion-col>
              <h1 style="text-decoration: underline;">OUR PROFESSIONAL STAFF</h1>
              <h3>CENTRAL OFFICES</h3>
              <p>23 July 2020</p>
              <p>
                Asasa.com gives you a platform to visit portfolios of the top
                notch architects from all over Pakistan and select the one
                suits you best to design you Dream Home.
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>

  <div class="section section-members">
    <ion-grid>
      <ion-row>
        <ion-col size="8" offset="2" size-md="6">
          <div class="member">
            <ion-avatar class="img-avatar">
              <ion-img src="assets/imgs/15.jpg"></ion-img>
            </ion-avatar>
            <h2 class="ion-text-start">Ahmed Zaka</h2>
            <ion-button color="primary" expand="full">View Profile</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
